body {
  background-color: rgb(240, 233, 233);
}

h1  {
  color: rgb(41, 151, 69);
  font-size: 1.5em;
  padding: 1em;
}

h2 {
  color: rgb(41, 151, 69);
  font-size: 1.3em;
}

h3{
  color: rgb(41, 151, 69);
  font-size: 1.1em;
  padding: .75em;
}

p {
  color: black;
  margin: 1.5em;
}

.left {
  float: Left;
  padding: 1em;
  width: 40%;
}
.right {
  float: Right;
  padding: 1em;
  width: 40%;
}

img.small {
  width: 250px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: upper-roman;
  padding: .25em;
}
